.idea
CMakeFiles
CMakeCache.txt
nbproject
.project
build
*.Po
*.o
*.lo
*.Plo
src/hypro/flags.h
src/resources/glpk-4.45/
*.sublime-*
*.tokens
.travis/sonar-project.properties
.vscode
.plt
.png
.log
.csv
