.idea
CMakeFiles
CMakeCache.txt
nbproject
.project
build
*.Po
*.o
*.lo
*.Plo
*.log
*.plt
*.png
*.csv
src/hypro/flags.h
src/resources/glpk-4.45/
*.sublime-*
*.tokens
.travis/sonar-project.properties
.vscode
**build**
*.plt
*.png
*.log
*.csv
*.idx
