.idea # CLion IDE files
CMakeFiles
nbproject
.project
build
*.Po
*.o
*.lo
src/lib/flags.h
src/libglpk.la
src/resources/glpk-4.54/Makefile
src/resources/glpk-4.54/autom4te.cache/
src/resources/glpk-4.54/config.log
src/resources/glpk-4.54/config.status
src/resources/glpk-4.54/examples/.libs/
src/resources/glpk-4.54/examples/Makefile
src/resources/glpk-4.54/examples/glpsol
src/resources/glpk-4.54/src/.deps/
src/resources/glpk-4.54/src/.libs/
src/resources/glpk-4.54/src/Makefile
src/resources/glpk-4.54/src/libglpk.la
src/resources/glpk-4.54/examples/.deps/glpsol.Po
src/resources/glpk-4.54/libtool
src/resources/glpk-4.54/config.log
src/resources/glpk-4.54/src/.deps/

*.sublime-*
