
image: ubuntu:22.04

build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  before_script:
     - apt update
     - apt install -y build-essential libeigen3-dev uuid-dev libboost-system-dev libboost-program-options-dev libboost-test-dev libboost-timer-dev libboost-chrono-dev libboost-serialization-dev libbliss-dev gcovr
     - git clone  --branch master https://github.com/ths-rwth/carl carl && cd carl && git checkout 3b0c79a68a && mkdir build && cd build && cmake .. && make carl -j`nproc` && cd ../..
  script:
    - mkdir build && cd build && cmake .. && make -j`nproc`
  cache:
    paths:
      - carl
  

# run tests using the binary built before
test:
  stage: test
  script:
    - make test

